{% extends "layout.html" %}
{% set view = "orders" %}
{% block title %}
    Orders
{% endblock %}

{% block main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Orders</h1>
  <div class="col-auto">
      
    <!-- Button -->
    <a href="#" class="btn btn-primary">
      New order
    </a>
  </div>
</div>

<div class="header-body">
 
  
  <!-- / .row -->
  <div class="row align-items-center">
    <div class="col">
      
      <!-- Nav -->
      <ul class="nav nav-tabs nav-overflow header-tabs">
        <li class="nav-item">
          <a href="#!" class="nav-link active">
            All <span class="badge badge-pill badge-soft-secondary">823</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">
            Inbox <span class="badge badge-pill badge-soft-secondary">24</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">
            Not Paid <span class="badge badge-pill badge-soft-secondary">3</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">
            Not Delivered <span class="badge badge-pill badge-soft-secondary">71</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="card" data-toggle="lists" data-lists-values="[&quot;orders-order&quot;, &quot;orders-product&quot;, &quot;orders-date&quot;, &quot;orders-total&quot;, &quot;orders-status&quot;, &quot;orders-method&quot;]">
          <div class="card-header">
            <div class="row align-items-center mb-2">
              <div class="col">

                <!-- Search -->
                <form class="row align-items-center">
                  <div class="col-auto pr-0">
                    <span class="fe fe-search text-muted"></span>
                  </div>
                  <div class="col">
                      <input type="search" class="form-control form-control-flush search" placeholder="Search">
                  </div>
                </form>
                
              </div>
              <div class="col-auto">
                
                <!-- Example single danger button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#!">Delivered</a>
                    <a class="dropdown-item" href="#!">Bank Transfer</a>
                    <a class="dropdown-item" href="#!">Cash</a>
                    <a class="dropdown-item" href="#!">Cheque </a>
              </div>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th>
                    <div class="custom-control custom-checkbox table-checkbox">
                      <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectAll">
                      <label class="custom-control-label" for="ordersSelectAll">
                        &nbsp;
                      </label>
                    </div>
                  </th>
                  <th>
                    <a href="#" class="text-muted sort" data-sort="orders-order">
                      Order
                    </a>
                  </th>
                  <th>
                    <a href="#" class="text-muted sort" data-sort="orders-product">
                      Product
                    </a>
                  </th>
                  <th>
                    <a href="#" class="text-muted sort" data-sort="orders-date">
                      Date
                    </a>
                  </th>
                  <th>
                    <a href="#" class="text-muted sort" data-sort="orders-total">
                      Total
                    </a>
                  </th>
                  <th>
                    <a href="#" class="text-muted sort" data-sort="orders-status">
                      Status
                    </a>
                  </th>
                  <th colspan="2">
                    <a href="#" class="text-muted sort" data-sort="orders-method">
                      Payment method
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody class="list"><tr>
                  <td>
                    <div class="custom-control custom-checkbox table-checkbox">
                      <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectOne">
                      <label class="custom-control-label" for="ordersSelectOne">
                        &nbsp;
                      </label>
                    </div>
                  </td>
                  <td class="orders-order">
                    #6520
                  </td>
                  <td class="orders-product">
                    5' x 3' Wall Poster
                  </td>
                  <td class="orders-date">
                    <time datetime="2018-07-30">07/30/18</time>
                  </td>
                  <td class="orders-total">
                    $55.25
                  </td>
                  <td class="orders-status">
                    <div class="badge badge-soft-success">
                      Shipped
                    </div>
                  </td>
                  <td class="orders-method">
                    Not Paid
                  </td>
                  <td class="text-right">
                    <div class="dropdown">
                      <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Bank transfer
                        </a>
                        <a href="#!" class="dropdown-item">
                          Cash
                        </a>
                        <a href="#!" class="dropdown-item">
                          Cheque
                        </a>
                      </div>
                    </div>
                  </td>
                </tr></tbody>
            </table>
          </div>
        </div>
{% endblock %}